<!-- Navbar Start -->
<div class="container-fluid bg-light position-relative shadow">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
    <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
      <i class="flaticon-043-teddy-bear"></i>
      <span class="text-primary">KidKinder</span>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav font-weight-bold mx-auto py-0">
        <a    *ngIf="user" class="nav-item nav-link active" routerLink="" >
          welcome {{user.fName}} {{user.lName}}</a>

        <a href="index.html" *ngIf="!user" class="nav-item nav-link active">Home</a>
        <a routerLink="addCourse" *ngIf="role=='teacher'" class="nav-item nav-link">Add course</a>
        <a routerLink="courses" class="nav-item nav-link">courses</a>
        <a routerLink="teachers"  class="nav-item nav-link">Teachers</a>
        <a routerLink="evaluationTeacher" *ngIf="role=='teacher'" class="nav-item nav-link">Evaluation</a>
        <a routerLink="parentDashboard"  *ngIf="role=='parent'" class="nav-item nav-link">Dashboard</a>
        <a routerLink="studentDashboard"  *ngIf="role=='student'" class="nav-item nav-link">Dashboard</a>
        <a routerLink="teacherDashboard"  *ngIf="role=='teacher'" class="nav-item nav-link">Dashboard</a>
        <a  routerLink="logout" *ngIf="user" (click)="LogOut()" class="nav-item nav-link">Logout</a>
        <div class="nav-item dropdown">
          <a *ngIf="!user" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Signup</a>
          <div class="dropdown-menu rounded-0 m-0">
            <a routerLink="signup-student" class="dropdown-item">signup as Student</a>
            <a routerLink="signup-teacher" class="dropdown-item">signup as Teacher</a>
            <a routerLink="signup-parent" class="dropdown-item">signup as Parent</a>
          </div>
        </div>
        <a *ngIf="!user" routerLink="login" class="nav-item nav-link">Login</a>
      </div>
      <a href="" class="btn btn-primary px-4">Join Class</a>
    </div>
  </nav>
</div>
<!-- Navbar End -->