<app-banner [b]="title"></app-banner>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Get In Touch </span>
            </p>
        </div>
        <div class="mb-4">
            <div class="">
                <div class="contact-form ">
                    <div id="success"></div>
                    <form #addCourseForm="ngForm" (ngSubmit)="addCourse()">
                        <div class="control-group">
                            <input  [(ngModel)]="obj.nameCourse" name="nameCourse" type="text" class="form-control" placeholder="Name course" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input  [(ngModel)]="obj.descriptionCourse" name="descriptionCourse" type="text" class="form-control" placeholder="description" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input [(ngModel)]="obj.durationCourse" name="durationCourse" type="text" class="form-control" placeholder="duration" />
                            <p class="help-block text-danger"></p>
                        </div>

                        

                        <div>
                             <input type="submit" class="btn btn-primary py-3 px-5" value="affect">
                        </div>
                        <div>
                            {{errorMsg}}
                          </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>