<div class="admin mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" style="margin: auto;"    src="assets/img/class-1.jpg" alt="" />
            <div class="card-body text-center">
                <h4 class="card-title">{{C?.nameCourse}}</h4>
                <p class="card-text">
                    Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                    ipsum duo et no et, ipsum ipsum erat duo amet clita duo
                </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>teacher Name</strong>
                    </div>
                    <div class="col-6 py-1">{{C?.fNameTeacher}} {{C?.lNameTeacher}}</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>description Course</strong>
                    </div>
                    <div class="col-6 py-1">{{C?.descriptionCourse}}</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>duration Course</strong>
                    </div>
                    <div class="col-6 py-1"> {{C?.durationCourse}}</div>
                </div>
               
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
        </div>
    </div>