
<div class="container">
    <div class="widget-next-match">
      <table class="table custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Role</th>
            <th>status</th>
            <th>Action</th>
           
          </tr>
        </thead>
        <tbody>
           <tr *ngFor ="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.firstName}}<strong class="text-white"></strong></td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status}}</td>
            <td>
              <button class="btn btn-primary py-2 px-4 "(click)=goToDisplay(user._id)>Display</button>
              <button *ngIf="this.status != 'ok'"  class="btn btn-warning"(click)=verifieTeacher(user._id) >validate</button>
              <!-- *ngIf="showButton" -->
              <button class="btn btn-danger"(click)=DeleteUser(user._id)>Delete</button>
          </td>
           
          </tr>  
    
         
        </tbody>
      </table>
    </div>
    </div>