<app-banner [b]="title"></app-banner>
<div class="container">
   <app-course-details [C]="findedCourse"></app-course-details>  
    <!-- <div class="admin mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" style="margin: auto;"    src="assets/img/class-1.jpg" alt="" />
            <div class="card-body text-center">
                <h4 class="card-title">{{findedCourse.nameCourse}}</h4>
                <p class="card-text">
                    Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                    ipsum duo et no et, ipsum ipsum erat duo amet clita duo
                </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>Age of Kids</strong>
                    </div>
                    <div class="col-6 py-1">3 - 6 Years </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>Total Seats</strong>
                    </div>
                    <div class="col-6 py-1">{{findedCourse.descriptionCourse}}</div>
                </div>
                <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>Class Time</strong>
                    </div>
                    <div class="col-6 py-1">{{findedCourse.durationCourse}}</div>
                </div>
                <div class="row">
                    <div class="col-6 py-1 text-right border-right">
                        <strong>Tution Fee</strong>
                    </div>
                    <div class="col-6 py-1">$290 / Month</div>
                </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
        </div>
    </div> -->
    </div>